<!-- <div>
  <div class="mat-app-background">
    <app-nav></app-nav>

    <div class="container">
      <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>
  </div>
</div> -->

<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-side-nav (sidenavClose)="sidenav.close()"></app-side-nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-nav (sidenavToggle)="sidenav.toggle()"></app-nav>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>