<mat-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Owner Actions</span>
  </a>
  <a mat-list-item routerLink="home" (click)="onSidenavClose()">
    <mat-icon>account_balance</mat-icon><span class="nav-caption">Account Actions</span>
  </a>
  <a mat-button routerLink="/home" (click)="onSidenavClose()" style="width: 100%;">
    <mat-icon>account_balance</mat-icon><span class="nav-caption">Test1</span>
  </a>
  <a mat-button routerLink="/home" (click)="onSidenavClose()" style="width: 100%;">
    <mat-icon>account_balance</mat-icon><span class="nav-caption">Test2</span>
  </a>
  <a mat-button routerLink="/home" (click)="onSidenavClose()" style="width: 100%;">
    <mat-icon>account_balance</mat-icon><span class="nav-caption">Test3</span>
  </a>
</mat-list>