<div class="bounds">
  <div class="content" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center"
    fxLayoutGap="20px">
    <div fxFlex="">
      <mat-form-field appearance="outline" fxFlexFill>
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </div>
    <div fxFlex="">
      <mat-form-field appearance="outline" fxFlexFill>
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </div>
    <div fxFlex="">
      <mat-form-field appearance="outline" fxFlexFill>
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <div class="content" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center">
    <div fxFlex="">
      <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="username">
          <mat-header-cell *matHeaderCellDef> User name </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.position}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="age">
          <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.symbol}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="weight">
          <mat-header-cell *matHeaderCellDef> weight </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.weight}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="['username', 'age', 'title','weight']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['username', 'age', 'title','weight']"></mat-row>
      </mat-table>
    </div>
  </div>
</div>