<!-- <mat-card fxFlex fxFlex-gt-xs="100" fxFlex="33.33%">
  <h2>Card title #1</h2>
  <mat-card-content>
    <p>Some content</p>
  </mat-card-content>
</mat-card>
<mat-card fxFlex fxFlex-gt-xs="100" fxFlex="33.33%">
  <h2>Card title #2</h2>
  <mat-card-content>
    <p>Some content</p>
  </mat-card-content>
</mat-card>
<mat-card fxFlex fxFlex-gt-xs="100" fxFlex="33.33%">
  <h2>Card title #3</h2>
  <mat-card-content>
    <p>Some content</p>
  </mat-card-content>
</mat-card>
<mat-card fxFlex fxFlex-gt-xs="100" fxFlex="33.33%">
  <h2>Card title #4</h2>
  <mat-card-content>
    <p>Some content</p>
  </mat-card-content>
</mat-card>
<mat-card>
  <h2>Card title #5</h2>
  <mat-card-content>
    <p>Some content</p>
  </mat-card-content>
</mat-card> -->


<div class="container" fxLayout="column" fxLayout.md="row" fxLayoutGap="20px">
  <div class="cardWrap" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
    fxLayoutAligmnet="space-between center" fxLayoutGap="20px">
    <div fxFlex.lt-md="100" fxFlex="35">Card</div>
    <div fxFlex.lt-md="100" fxFlex="35">Card</div>
    <div fxFlex.lt-md="100" fxFlex="35">Card</div>
  </div>
  <div class="cardWrap" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
    fxLayoutAligmnet="space-between center" fxLayoutGap="20px">
    <div fxFlex.lt-md="100" fxFlex="35">Card</div>
    <div fxFlex.lt-md="100" fxFlex="35">Card</div>
    <div fxFlex.lt-md="100" fxFlex="35">Card</div>
  </div>
</div>