<br>
<h1>EMPLOYEE LIST</h1>

<mat-card class="mat-elevation-z4">

  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center" fxLayoutGap="20px">
    <app-shared-input fxFlex icon="edit"></app-shared-input>
    <app-shared-input fxFlex icon="edit"></app-shared-input>
    <app-shared-input fxFlex icon="edit"></app-shared-input>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center" fxLayoutGap="20px">
    <app-shared-input fxFlex icon="3d_rotation"></app-shared-input>
    <app-shared-input fxFlex icon="3d_rotation"></app-shared-input>
    <app-shared-input fxFlex icon="3d_rotation"></app-shared-input>
  </div>

  <div class="content" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center"
    fxLayoutGap="20px">
    <button mat-raised-button color="primary" fxFlex fxFlexFill>Add User</button>
    <button mat-raised-button color="primary" fxFlex fxFlexFill>Clean Content</button>
    <button mat-raised-button color="primary" fxFlex fxFlexFill>Search</button>
  </div>

</mat-card>