<br>
<h1>EMPLOYEE LIST</h1>

<mat-card class="mat-elevation-z4">

  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center" fxLayoutGap="20px">
    <app-shared-template-driven-input fxFlex (newValue)="userReq.firstName = $event" appearance="outline" icon="edit"
      label="First Name">
    </app-shared-template-driven-input>
    <app-shared-template-driven-input fxFlex (newValue)="userReq.secondName = $event" appearance="outline" icon="edit"
      label="Second Name">
    </app-shared-template-driven-input>
    <app-shared-template-driven-input fxFlex (newValue)="userReq.firstLastName = $event" appearance="outline"
      icon="edit" label="First Last Name">
    </app-shared-template-driven-input>
    <app-shared-template-driven-input fxFlex (newValue)="userReq.secondLastName = $event" appearance="outline"
      icon="edit" label="Second Last Name">
    </app-shared-template-driven-input>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center" fxLayoutGap="20px">
    <app-shared-template-driven-input fxFlex (newValue)="userReq.userCode = $event" appearance="outline" icon="edit"
      label="Employee Number">
    </app-shared-template-driven-input>
    <div fxFlex></div>
    <div fxFlex></div>
    <div fxFlex></div>
  </div>

  <div class="content" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center"
    fxLayoutGap="20px">
    <a mat-raised-button color="primary" fxFlex fxFlexFill [routerLink]="['/employee/add']">Add User</a>
    <button mat-raised-button color="primary" fxFlex fxFlexFill>Clean Content</button>
    <button mat-raised-button color="primary" fxFlex fxFlexFill (click)="getByFilters()">Search</button>
  </div>

</mat-card>